@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br /><br />
    <h3>The Secret of</h3>
    <h1 class="display-4">making progress</h1><br />
    <h3>is to get started</h3>
</div>
